/* Barra de navegação vertical */
/* 
ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li{ 
    border: 1px solid red; 
    padding: 5px 20px;
    background: url(../image-barra-horizontal/seta.png) no-repeat left center;
} */

ul{
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

ul a {
    /* border: 1px solid red; */
    width: 200px;
    height: 40px;
    display: block;
    color: #000;
    text-decoration: none;
    text-indent: 40px;
    line-height: 40px;
    background: #f7b600 url(../image-barra-horizontal/menu.png) no-repeat left bottom;
}

a:hover{
    background-position: right bottom;
    background-color: #f99200;
    color: #FFF;
}

#home #navegacao .home a, #sobre #navegacao .sobre a, #servico #navegacao .servico a, #noticias #navegacao .noticias a, #contatos #navegacao .contatos a{
    background-position: right bottom;
    background-color: #f99200;
    color: #FFF;
}