
* {
    margin: 0;
    padding: 0;
}

#caixa{
    width: 300px;
    height: 300px;
    background: #b9c941;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
/*     -moz-border-radius: 10px 50px 80px 100px;
    -webkit-border-radius: 10px 50px 80px 100px;
    border-radius: 10px 50px 80px 100px; */
}

#caixa2{
    width: 400px;
    height: 300px;
    background: #b9c941;
/*     -moz-border-radius: 10px 50px 80px 100px;
    -webkit-border-radius: 10px 50px 80px 100px;
    border-radius: 10px 50px 80px 100px; */
}




.arredondamento{
    border-radius: 10px 50px 80px 100px;
}